
body{
	font-family: 'Lato', sans-serif;
	color: #333;
	background-color: #f1f2f8;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Francois One', sans-serif;
}

h1{
	color: #fff;
}
h4{
	font-size: 2.5rem;
}
h4 small{
	font-size: 1rem;
}

table a{
	color: #333;
	text-decoration: none;
	border-bottom: 1px dotted #333;
	padding-bottom: .25rem;
}


table.dataTable tbody tr{
	background-color: transparent !important;
}

.border-success{
	border-bottom: 3px solid #ACCBE1 !important;
}
.border-warning{
	border-bottom: 3px solid #F4B942 !important; 
}
.border-alert{
	border-bottom: 3px solid #F34213 !important; 
}
.border-start{
	border-bottom: 3px solid #6FD08C !important; 
}
.bg-success{
	background-color: #ACCBE1 !important;
}
.bg-warning{
	background-color: #F4B942 !important;
}
.bg-alert{
	background-color: #F34213 !important;
	color: #fff; 
}
.bg-start{
	background-color: #6FD08C !important;
}

.bg-transparent{
	background-image: linear-gradient(90.78deg,#0b163c 17.75%,#303159 84.46%) !important;
}

.nav-item{
	margin-right: 1rem;
}
.nav-item .active{
	font-weight: 600;
	padding-bottom: .25rem;
	border-bottom: 3px solid #fff;
}
.nav-link{
	font-size: 1.25rem;
	text-transform: uppercase
}

.header{
	background-image: url('core/img/nkn.svg'),linear-gradient(90.78deg,#0b163c 17.75%,#303159 84.46%);
	background-position: left center;
	background-repeat: no-repeat;
	color: #fff;
	padding-top: 3rem;

}

.header p{
	font-weight: 700;
	text-transform: uppercase;
}

.copyrights{
	font-size: .8rem;
}

@media only screen and (max-width: 640px){

	.dataTables_wrapper .dataTables_filter{
		margin-top: 1rem !important;
		margin-bottom: 1rem;
	}
	.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
		text-align: initial !important;
	}
	.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter label{
		width: 100%;
		text-transform: uppercase;
		font-weight: 700;
		color: #D8D8D8;
	}
	.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter label input{
		display: inline-block;
		width: 100%;
		margin-top: .5rem;
	}
	.my-5{
		margin-top: 2
	}

}